@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "tailwindcss";
@import "@cloudflare/kumo/styles/tailwind";

:root {
  --accent-color: orange;
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color: orangered;
  }
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 42rem;
}

main {
  margin-top: 2rem;
}