* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131f25;
}

p {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.6);
}

.duration {
  font-size: 5rem;
  font-weight: 800;
}

.duration .hours {
  color: rgba(255, 255, 255, 0.9);
}

.duration .minutes {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.6);
}

.startend {
  font-weight: 600;
}

.interruption {
  margin-top: 0.15em;
}

.interruption .good {
  color: rgb(47, 255, 137);
}

.interruption .bad {
  display: inline-block;
  color: orangered;
  animation: violent-shake 0.25s infinite linear;
}

@keyframes violent-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  10% {
    transform: translate(-3px, -2px) rotate(-2deg);
  }

  20% {
    transform: translate(3px, 2px) rotate(2deg);
  }

  30% {
    transform: translate(-4px, 3px) rotate(-3deg);
  }

  40% {
    transform: translate(4px, -3px) rotate(3deg);
  }

  50% {
    transform: translate(-5px, 2px) rotate(-4deg);
  }

  60% {
    transform: translate(5px, -2px) rotate(4deg);
  }

  70% {
    transform: translate(-4px, -3px) rotate(-3deg);
  }

  80% {
    transform: translate(4px, 3px) rotate(3deg);
  }

  90% {
    transform: translate(-3px, 2px) rotate(-2deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
